<div *ngIf="hasValidations()">
  <validation-panel [messages]="validationMessages"></validation-panel>
</div>

<div>
  <form [formGroup]="planForm" class="plan-form-container plan-form-fields">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="planType">
        <mat-option [value]="planType" *ngFor="let planType of planTypes">
          {{ planType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             readonly
             [matDatepicker]="eventPicker"
             placeholder="Event Date"
             formControlName="eventDate"
             (dateChange)="setFieldDate($event, 'eventDate')" />
      <mat-datepicker-toggle matSuffix [for]="eventPicker"></mat-datepicker-toggle>
      <mat-datepicker #eventPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Amount" formControlName="amount" />
      <mat-icon matSuffix>attach_money</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeat On</mat-label>
      <mat-select formControlName="repeatOn">
        <mat-option [value]="repeatOn" *ngFor="let repeatOn of repeatOptions">
          {{ repeatOn.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>

    <mat-form-field>
      <input matInput
             readonly
             [matDatepicker]="endPicker"
             placeholder="End Date"
             formControlName="endDate"
             (dateChange)="setFieldDate($event, 'endDate')" />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
