<div class="splash">
  <img src="assets/final_plantasy.png" />
</div>

<div>
  TODOs
  <ul>
    <li>Fix setup grid to show text labels instead of enumerations</li>
    <li>Add user concepts with cookie authentication</li>
    <li>Add the ability to have more what if concepts around setup data or how far to calculate out to</li>
    <li>Learn more about and add more in depth tests for Angular components</li>
    <li>Create README for project setup and concepts</li>
    <li>Pull the bound dialog and related components out into their own shared module</li>
  </ul>
</div>
