<mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="planType">
    <mat-header-cell *matHeaderCellDef>Plan Type</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.planType }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="eventDate">
    <mat-header-cell *matHeaderCellDef>Event Date</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.eventDate }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.amount }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="repeatOn">
    <mat-header-cell *matHeaderCellDef>Repeat On</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.repeatOn }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let plan">{{ plan.description }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
</mat-table>
