<form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="plan-form-container plan-form-fields">
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select formControlName="planType">
      <mat-option [value]="planType" *ngFor="let planType of planTypes">
        {{ planType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Amount" formControlName="amount" />
    <mat-icon matSuffix>attach_money</mat-icon>
  </mat-form-field>

  <mat-form-field *ngIf="hasRepeatOnDate()">
    <input matInput
            readonly
            [matDatepicker]="picker"
            placeholder="Repeat On"
            formControlName="repeatOnDate"
            (dateChange)="setRepeatOnDate($event)" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  
  <button mat-raised-button color="primary" type="submit" [disabled]="!planForm.valid">Submit</button>
</form>
